:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-light);
  background-color: var(--color-bg-surface);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


    --color-bg-primary: #1d1d1e;
    --color-bg-surface: #242424;
    --color-accent-main: #cf1dd8;
    --color-accent-secondary: #b025eb;
    --color-accent-soft: #9a65c7;
    --color-accent-alt: #1f66e5;
    --color-highlight: #7720e9;
    --color-text-light: #eae9f2;
    --color-text-muted: #72677e;
}

