.button {
    padding: 10px 20px;
    background-color: #b025eb;
    color: rgb(43, 42, 42);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #cf1dd8;
  }
  
  .button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  