.button {
    padding: 10px 20px;
    background-color: var(--color-accent-main);
    color: rgb(43, 42, 42);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease;
    margin-right: 2%;
  }

  .button:hover {
    background-color: var(--color-accent-secondary);
    transform: scale(1.05);
  }
  
  .button:disabled {
    background-color: var(--color-text-light);
    cursor: not-allowed;
  }
  