/* Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #1e1e1f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; 
    box-sizing: border-box;
  }
  
  .headerTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #b025eb;
  }
  
  .homeButton {
    background-color: #b025eb;
    color: rgb(43, 42, 42);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 6px;
  }
  
  .homeButton:hover {
    background-color: #1d4ed8;
  }
  