/* Header.module.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;                
    height: 60px;
    width: 100%;
    background-color: #1d1d1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
}

  .headerTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #b025eb;
  }
  
  .homeButton {
    background-color: #b025eb;
    color: rgb(43, 42, 42);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 6px;
    margin-right: 5%;
    transition: .4s;
  }
  
  .homeButton:hover {
    background-color: #cf1dd8;
    transition: .4s;
    transform: scale(1.05);
  }
  .nav{
    display: flex;
    justify-content: space-evenly;
    width: 45%;
  }