.filterBtn{
    background-color: var(--color-accent-main);
    padding-top:.5%;
    padding-bottom: .5%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    border: none;
    margin-right: 2%;
    cursor: pointer;
    transition: .4s;
}
.filterBtn:hover{
background-color: var(--color-accent-soft);
border: solid, var(--color-accent-secondary);
transition: .4s;
transform: scale(1.05);
}
.filterBtnActive {
    background-color: var(--color-highlight);
  }
  .searchInput {
    padding: 0.5rem;
    margin-bottom: 5%;
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
    border: solid, var(--color-accent-soft);
    border-radius: 10px;
    color: var(--color-text-light);
    background-color: var(--color-bg-primary);
  }
img{
    width: 90px;
    border-radius: 10px;

}